= image_tag("SealCrete_logo_web.png", class: 'img-responsive center-block')
.text-center
  %h2
    Concrete Protection
    %br
      Specialists
  %br
  %h3 Skyler Bailey
  %h4
    %i
      Owner
  %hr
  %h4 801-577-2477
  %h4
    = mail_to "skyler@sealcreteutah.com"